/* Main HTML */

body {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.header {
    background-image: url("../img/header.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
}

.container {
    padding-bottom: 40px;
}

.header > p {
    text-align: center;
    z-index: 100;
}

.header > .title > h1, .header > .title > h3, .header > p, .header > .title > p {
    width: 50%;
    margin: auto;
    text-shadow: #747474 0 2px;
}

.title {
    padding-top: 8%;
}

.image-info {
    font-size: 14px;
    margin-right: 10px;
    margin-left: auto;
    text-align: right;
    width: 100px;
    margin-top: -290px;
    text-shadow: #747474 0 2px;
}

body, html {
    font-family: 'Signika', sans-serif;
    min-width: 679px;
    margin: 0;
    padding: 0;
}




h1 {
    font-size: 60px;
}

h1,
h2,
h5 {
    text-shadow: #747474 0 0 10px;
}

#pic1 {
    width: 350px;
    height: 320px;
}

#header_source {
    text-align: right;
}

#space1 {
    height: 10px;
}

.space2 {
    height: 22px;
}

#selected-variable {
    font-size: 14px;
    width: 450px;
    background-color: rgba(217, 209, 209, 0.88);
    font-weight: bold;
    color: black;
}

#global-funding {
    text-align: center;
}

.chart-text {
    font-size: 12px;
}


/* Choropleth */

.btn {
    background-color: #cecece;
}
